@import "tailwindcss";

@theme {
  --color-consultimer-dark: #0A1128;
  --color-consultimer-orange: #FF6600;

  --color-consultimer-orange-hover: #F57C00;

  --color-consultimer-white-label: #FFFFFF;
  --color-consultimer-description-homepage-header: #E5E7EB;
}